@model MvcCafe.Models.RegisterViewModel

<form asp-controller="Users" asp-action="AddUser">
    Login: <input type="text" name="Login" />
    Password: <input type="password" name="Password" />
    <input type="submit" value="Register" />
</form>